.optinspin-into-wrapper {
    background-color: white;
    margin: 10px 0px;
    min-height: 800px;
    padding: 20px 10px;
    width: 97%;
}

.optinspin-into-wrapper .optinspin-title {
    font-size: 38px;
    font-weight: 100;
}

.optinspin-fields {
    margin: 4% 0px;
}

.optinspin-features {
    text-align: center;
}

.optinspin-banner {
    text-align: center;
}

.optinspin-into-wrapper .optinspin-title {
    font-size: 58px;
    font-weight: 100;
    margin: 20px 5px;
}

.optinspin-para {
    margin: 36px 5px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
    margin: 0 auto;
    width: 50%;
}

.optinspin-fields {
    text-align: center;
}

.optinspin-understand-btn {
    display: none;
}

#optinspin-btn-submit {
    font-size: 30px;
    padding: 0px 32px;
    height: 60px;
    background-color: #fafafa;
    color: #797979;
    text-shadow: 0px 0px 0px;
    border: solid 1px #CCC;
    box-shadow: 0px 3px 0px #d2d2d2;
    cursor: pointer;
    font-weight: bold;
}

a#optinspin-btn-submit {
    font-size: 30px;
    padding: 10px 32px;
    height: 60px;
    background-color: #fafafa;
    color: #797979;
    text-shadow: 0px 0px 0px;
    border: solid 1px #CCC;
    box-shadow: 0px 3px 0px #d2d2d2;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.optinspin-understand {
    font-size: 22px;
}

#optinspin-btn-submit:hover {
    background-color: white;
}

.optinspin-fields {
    border-top: solid 1px #dcdcdc;
    line-height: 100px;
}

.optinspin-get-ready {
    display: none;
}

.optinspin-get-ready p {
    font-size: 20px;
}

input#optinspin_not_understand {
    font-size: 24px;
    padding: 0px 32px;
    height: 60px;
    background-color: #f35454;
    color: #525252;
    text-shadow: 0px 0px 0px;
    border: solid 1px #d83b3b;
    box-shadow: 0px 3px 0px #d61111;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

input#optinspin_understand {
    font-size: 24px;
    padding: 0px 32px;
    height: 60px;
    background-color: #00a0d2;
    color: #525252;
    text-shadow: 0px 0px 0px;
    border: solid 1px #54b7f1;
    box-shadow: 0px 3px 0px #086d8c;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.warning p {
    font-size: 16px;
    text-align: justify;
    margin: 15px 48px;
}

.warning span {
    color: #9e9e23;
}

.warning span, .warning div {
    float: left;
    font-size: 45px;
}

.warning {
    width: 50%;
    margin: 0 auto;
    font-size: 24px;
}